<div class="container-fluid g-0 p-0">
  <div class="row g-0 p-0 m-0">
    <div class="col-3 g-0 m-0 blue">
      <div class="row g-0 m-0 p-0">SERVICE NAME</div>
      <div class="row g-0 m-0 p-0 none">nest</div>
      @for(item of data; track item.services){ @for(service of item.services;
      track service.serviceName){
      <div>{{ service.serviceName }}</div>
      } }
    </div>

    <div class=" green scrollable-content">
      <div class="table">
        <div *ngFor="let time of timeColumns">
            <tr class="custom-tr">
              {{
                time
              }}
            </tr>
            <tr>
              <td *ngFor="let column of columns">
                <span class="custom-with">{{ column.header }}</span>
              </td>
            </tr>
            @for(item of data; track item.time){ @for(service of item.services;
            track service.serviceName){
            <tr>
              <td>{{ service.kwh }}</td>
              <td>{{ service.kva }}</td>
              <td>{{ service.kvah }}</td>
              <td>{{ service.kvarh }}</td>
              <td>{{ service.avgVoltage }}</td>
              <td>{{ service.avgCurrent }}</td>
              @if(service.status){
              <td><img src="on.svg" /></td>}@else {
              <td><img src="out.svg" /></td>}
            </tr>
            } }
          </div>
      </div>
    </div>
  </div>
</div>
